body{
    background-color: pink;

  }
  header{
    font-size: 25px;
    border-bottom: 1px solid green;
    padding-bottom: 5px;
    background-color: green;
    text-align: center;
  }
  footer{
    font-size: 20px;
    border-bottom: 1px solid purple;
    padding-bottom: 5px;
    background-color: purple;
    font-style: italic;
    color: white;
  }
  .myList{
      margin: 0 auto;
      font-style: oblique;
      font-size: 30px;
  }
  .myPic{
      border: 10px solid pink;
      border-radius: 30px;
      padding: 5px;
      width: 150px;
  }
